
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --ciano: #00CBFF;
    --roxinho: #8592DF;
    --rosa-pastel: #F2CED8;
}
*{
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
h2{
    color: bisque;
}
h3{
    color: bisque;
}
p{
    color: bisque;
}
ul{
    color: bisque;
}
.link__lista__curriculo{
    color: aquamarine;
}
.cabecalho__menu__link{
text-decoration: none;
font-family: Comic Sans;
font-size: 2vw;
font-weight: 600;
color: white;
}
.cabecalho{
    padding: .3% 20% 2% 0%;
}
.cabecalho__menu{
    display: flex;
    gap: 27vw;
}
.cabecalho__menu__links__link{
    transition: background-color 1s ease, 1s ease;
}
.cabecalho__menu__links__link:hover{
    color: cyan;
    
}
.apresentacao__imagem{
width: 20%;
border-radius: 200px;
transition: background-color 1s ease, padding 1s ease;
}
.apresentacao__imagem:hover{
    width: 14vw;
    background-color: lightgreen;
    padding: 20px;
}
.apresentacao{
font-family: Comic Sans;
margin: 5% 15%;
display: flex;
align-items: center;
justify-content: space-between;
gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.github__logo{
    width: 3vw;
    height: 3.1vw;
    border-radius: 999vw;
}
.google__logo{
    width: 4vw;
    height: 3.5vw;
}

body{
    transition: 1.2s;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, black, darkblue);
    background-size: 100% 100vh;
}

.trilho{
    display: flex;
    align-items: center;
    width:4.5vw;
    height: 2vw;
    background-color: purple;
    border-radius: 150px;
    position: fixed;
    cursor: pointer;
    top: .5vw;
    right: 1vw;
}
.indicador{
    display: flex;
    align-items: center;
    width: 2vw;
    height: 2vw;
    position: fixed;
}
 .trilho .indicador{
    background-color: cyan;
    border-radius: 50%;
    transform: scale(1);
    position: absolute;
    left: 0;
    transition: 1500ms;
}

.trilho.light{
    background-color: #4d4d4d;
}

.trilho.light .indicador{
    left: 2.5vw;
    background-color: var(--rosa-pastel);
}
body.light{
    background-color: black;
}
body.light h1{
    color: var(--rosa-pastel);
}

body.light p{
    color: gray;
}

body.light h2{
    color: var(--ciano);
}

.apresentacao__conteudo__imagem{
    width: 20%;
    border-radius: 200px;
    transition: background-color 1s ease, padding 1s ease;
}
.apresentacao__conteudo__imagem:hover{
    width:14vw;
    background-color: cyan;
    padding: 5vw;
}

/*.apresentacao__imagem{
width: 20%;
border-radius: 200px;
transition: background-color 1s ease, padding 1s ease;
}
.apresentacao__imagem:hover{
    width: 14vw;
    background-color: lightgreen;
    padding: 20px;*/


body.light ul{
    color: var(--roxinho);
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
}
.titulo-destaque{
    color: white;
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: Comic Sans;
}
.apresentacao__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.apresentacao__links__subtitulo{
    font-family: Comic Sans;
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: .11vw solid purple;
    width: 10%;
    text-align: center;
    border-radius: 999999999vw;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2px 0;
    text-decoration: none;
    color: var(--ciano);
    font-family: Comic Sans;
    transition: background-color 1s ease, padding 1s ease;
}
.apresentacao__links__navegacao:hover{
    background-color: blue;
    transition: .8s ease;
    padding: 2vw;
}
.login__geral{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 90px;
    color: white;
}
.inputs{
    border: none;
    padding: 15px;
    outline: none;
    border-radius: 900px;
    font-size: 20px;
}
.login__botao{
    outline: none;
    border-radius: 900px;
    padding: 16px;
    background-image: linear-gradient(90deg,cyan,orange);
    width: 16%;
    color: black;
    display: flex;
    justify-content: center;
    transition: background-color 1.7s ease, padding 1s ease;
}
.login__botao:hover{
    padding: 15%;
    cursor: pointer;
}
.login__texto{
    color: purple;
    background-image: linear-gradient(90deg, cyan, orange);
    padding: 10px;
    border-radius: 900px;
    text-align: center;
    border: 2px solid purple;
    transition: background-color 1.7s ease, padding 1s ease;
}
.login__texto:hover{
    cursor: pointer;
    padding: 15%;
}
.registrar__botao{
    padding: 16px;
    border-radius: 900px;
    background-image: linear-gradient(90deg,cyan,orange);
    transition: background-color 1.7s ease, padding 1s ease;
}
.login__registrar__texto{
    text-decoration: none;
    color: black;
}
.registrar__botao:hover{
    cursor: pointer;
    padding: 15%;
}
.registro__geral{
    color: black;
    border-radius: 9%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(90deg, gray,darkgray, white);
    padding: 15px;
}
fieldset{
    border: 2px solid cyan;
    border-radius: 9px;
}
.submit__registro{
    background-image: linear-gradient(0deg,cyan,orange);
    padding: 5%;
    transition: background-color 1.7s ease, padding 1s ease;
}
.submit__registro:hover{
    cursor: pointer;
    padding: 30px;

}
legend{
   border: 1px solid lightgreen;
   padding: 20px;
   text-align: center; 
   border-radius: 900px;
   background-image: linear-gradient(0deg,cyan,orange);
   color: purple;
   transition: background-color 1.7s ease, padding 1s ease;
}
legend:hover{
    cursor: pointer;
    padding: 10%;
}

    
